.card{
  background-color: wheat;
  border-radius: 8px;
  // display: flex;
  // flex-wrap: wrap;
  // width: 300px;
}

.detail-btn{
  background-color: #007bff;
  color: white;
}

.detail-btn:hover{
  background-color: #0056b3;
}
